﻿@model Blog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>

@Html.Partial("_addComment",new Blog.Models.Comment(), ViewData)
<fieldset>
<h3> Comment </h3>
<legend>Comment</legend>
    <div id="result">
        @foreach (var cmt in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
        {
            <div class="display-field">
                <h2>
                    Cách đây:  @Html.DisplayFor(x => cmt.LastTime) phút
                </h2>
            </div>
            <div class="display-field">
                @Html.DisplayFor(x => cmt.Body)
            </div>
        }
    </div>
</fieldset>

<fieldset>
    <legend>Tag</legend>

    @foreach (var tag in Model.Tags)
    {
        <div class="display-field">
                @Html.DisplayFor(x=>tag.Content)
            </div>
        <div class="display-field">
            @Html.ActionLink(tag.Content.ToString(), "Index", "Post")
        </div>
    }
</fieldset>

<p>
      @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
      @Html.ActionLink("Back to List", "Index")
</p>
