﻿@model IEnumerable<Blog.Models.Video>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script>
    $(function () {
        $("#playlist li").on("click", function () {
            $("#videoarea").attr({
                "src": $(this).attr("movieurl"),
                "poster": "",
                "autoplay": "autoplay"
            })
        })
        $("#videoarea").attr({
            "src": $("#playlist li").eq(0).attr("movieurl"),
            "poster": $("#playlist li").eq(0).attr("moviesposter")
        })
    })</script>
<style>
    #playlist {
        display: table;
    }

        #playlist li {
            cursor: pointer;
            padding: 8px;
        }

            #playlist li:hover {
                color: blue;
            }

    #videoarea {
        float: left;
        width: 640px;
        height: 480px;
        margin: 10px;
        border: 1px solid silver;
    }
</style>

<video id="videoarea" controls="controls" poster="" src=""></video>
<div style="height: 490px; overflow: scroll; width: 250px;">
    <ul id="playlist">
        
        @foreach (var item in Model)
        {
            <b><li movieurl="~/Phim/@item.urlLink">@Html.DisplayFor(modelItem => item.Title)</li></b>
        }
        <li>@Html.ActionLink("Đăng Thêm Video", "Create")</li>
    </ul>
</div>