﻿@model Blog.Models.Comment

@using (Html.BeginForm("Create","Comment",FormMethod.Post, new {id = "my-form"})) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h3> Thêm bình luận</h3>
    <fieldset>
        <legend>Add Comment</legend>

               
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>  
      @Html.Hidden("idpost", ViewData["idpost"])
        <p>
            <input type="submit" value="OK" />
        </p>
    </fieldset>
}
<script src="~/Scripts/addComments.js"></script>