﻿@{
    ViewBag.Title = "Tìm Kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Blog.Models.Post>
<h2>KẾT QUẢ TÌM KIẾM</h2>
<br />
@foreach (Blog.Models.Post p in Model)
{
    <div>
    <a href="/Post/Details/@p.Title">@p.Title</a></div>
}