﻿<!DOCTYPE html>
<html lang="en">
<head>
    < <marquee  width="100%" height="50px" bgcolor="blue" direction="right">
            <font face="georgia" size="10" color="yellow"> Chào mừng đến với website chuabenhmatngu.org ! </font>
        </marquee>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <style>
        .searchform {
            float: right;
            margin-top: 0px;
            border: #00afdd 2px solid;
            height: 27px;
            width: 350px;
        }

            .searchform input[type=text] {
                width: 255px;
                height: 21px;
                border: 2px;
                background: #00afdd;
                float: left;
                margin: 0px;
                padding: 3px;
            }

            .searchform input[type=submit] {
                border: #00afdd 1px solid;
                float: right;
                margin: 0px 0px 0px 2px;
                height: 27px;
                padding-top: 0px;
                background: #00afdd;
            }
    </style>
    <body background="~/Images/90.jpg">
        <!DOCTYPE html>
        <html>
        <title>Search Box Example 1</title>
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
        <!-- CSS styles for standard search box -->
        <style type="text/css">
            #tfheader {
                background-color: #c3dfef;
            }

            #tfnewsearch {
                float: right;
                padding: 20px;
            }

            .tftextinput {
                margin: 0;
                padding: 5px 15px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                border: 1px solid #0076a3;
                border-right: 0px;
                border-top-left-radius: 5px 5px;
                border-bottom-left-radius: 5px 5px;
            }

            .tfbutton {
                margin: 0;
                padding: 5px 15px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                outline: none;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                color: #ffffff;
                border: solid 1px #0076a3;
                border-right: 0px;
                background: #0095cd;
                background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
                background: -moz-linear-gradient(top, #00adee, #0078a5);
                border-top-right-radius: 5px 5px;
                border-bottom-right-radius: 5px 5px;
            }

                .tfbutton:hover {
                    text-decoration: none;
                    background: #007ead;
                    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
                    background: -moz-linear-gradient(top, #0095cc, #00678e);
                }
                /* Fixes submit button height problem in Firefox */
                .tfbutton::-moz-focus-inner {
                    border: 0;
                }

            .tfclear {
                clear: both;
            }
        </style>
</head>

<body>
    <div id="tfheader" style="float: right">
        <form id="tfnewsearch" method="get" action="/Post/tracuu">
            <input type="text" class="tftextinput" name="q" size="21" maxlength="120">
            <input type="submit" value="search" class="tfbutton">
        </form>
        <div class="tfclear"></div>
    </div>
    <header>
        <div class="content-wrapper">

           
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section> <div class="float-left">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                        <li>@Html.ActionLink("Bài đăng", "Index", "Post")</li>
                        <li>@Html.ActionLink("Video giải trí", "Index", "Video")</li>
                        <li>@Html.ActionLink("Đặt câu hỏi", "Create", "Question")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year -Web chữa bệnh mất ngủ</p>
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="http://itexpressvn.com/js/noel.js"></script>
    <!-- End Code CongTu9xYk-YkWaP.wAp.sH --><script type="text/javascript" src="http://ykwap.wap.sh/code/xtgem/js/Noel/snow_2.js"></script><!-- End Code CongTu9xYk-YkWaP.wAp.sH -->
   
</body>
</html>
<div class="float-left">
    Đang Online
            <br />
    <script id="_wauxr8">
        var _wau = _wau || []; _wau.push(["classic", "u7d326xooqw9", "xr8"]);
        (function () {
            var s = document.createElement("script"); s.async = true;
            s.src = "http://widgets.amung.us/classic.js";
            document.getElementsByTagName("head")[0].appendChild(s);
        })();

    </script>

</div>
<div class="float-right">
    Số người truy cập
            <br />
    <script id="_wauxsa">var _wau = _wau || []; _wau.push(["classic", "o9jetwpot0gg", "xsa"]);
        (function () {
            var s = document.createElement("script"); s.async = true;
            s.src = "http://widgets.amung.us/classic.js";
            document.getElementsByTagName("head")[0].appendChild(s);
        })();</script>

</div>
