﻿@model Blog.Models.Post
@{
    ViewBag.Title = "Trang chủ";
}
@section featured {
    <section class="featured">
        
    </section>
}
<fieldset>
    @foreach( Blog.Models.Post p in ViewBag.list)
    {
        <a href="/Post/Details/@p.ID">@p.Title</a>
        <p>
            @p.Body
        </p>
        <hr />
    }

</fieldset>